@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;500&display=swap');

::selection {
  background-color: transparent;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffc0a5;
  transition: background-color .3s;
}

h1, h2 {
  font-family: 'DM Mono', monospace;
  font-weight: 500;
}

h3 {
  margin-top: 20px;
  font-family: 'DM Mono', monospace;
  font-weight: 300;
}

.hide {
  display: none;
}

/*MENU SCREEN*/

.menu , .settings , .exit  {
  position: absolute;
  top: 50vh;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
}

/*SETTINGS SCREEN*/

.settings-buttons a {
  display: inline-block;
  font-size: 30px;
  background-color: transparent;
  border: 2px solid #210645;
  padding: 5px 10px;
  margin: 20px 20px 0px 20px;
  transition: background-color .1s, color .1s;
  text-decoration: none;
  color: #210645;
  font-weight: 300;
  font-family: 'DM Mono', monospace;
}

.settings-buttons a:hover {
  background-color: #210645;
  color: #ffc0a5;
}

.settings-buttons{
  width: 100%;
  text-align: center;
}

/*GAME SCREEN*/

.tamagotchi {
  position: absolute;
  display: block;
  width: 100%;
  top: 50vh;
  transform: translateY(-50%);
  font-size: 80px;
  text-align: center;
}

#t-body {
  font-family: 'Arial', sans-serif;
  font-size: 70px;
}

#name {
  display: inline-block;
  margin-bottom: 50px;
  color: #ffc0a5;
  padding: 5px 10px;
  font-size: 30px;
  background-color: #210645;
  font-family: 'DM Mono', monospace;
  font-weight: 500;
}
#action-play-again, #action-back-menu{
  display: none;
}
.buttons a, .menu-buttons a,
.hidden-buttons a {
  display: inline-block;
  font-size: 40px;
  background-color: transparent;
  border: 2px solid #210645;
  padding: 10px 20px;
  margin: 100px 20px 0px 20px;
  transition: background-color .1s;
  text-decoration: none;
  color: #210645;
  font-weight: 300;
  font-family: 'DM Mono', monospace;
  transition: background-color .1s, color .1s;
}

.buttons a:hover, .menu-buttons a:hover , .hidden-buttons a:hover {
  background-color: #210645;
  color: #ffc0a5;
}

.buttons, .menu-buttons , .hidden-buttons{
  width: 100%;
  text-align: center;
}

.hp {
  font-family: 'DM Mono', monospace;
  font-weight: 300;
  font-size: 30px;
  width: 100%;
  text-align: center;
}

.hp span {
  font-weight: 500;
}

.hp p {
  display: inline;
}

/*Night mode*/

body.nightmode-on {
  background-color: #210645;
  color: #ffc0a5;
}

body.nightmode-on .settings-buttons a,
body.nightmode-on .buttons a,
body.nightmode-on .menu-buttons a {
  color: #ffc0a5;
  border: 2px solid #ffc0a5;
}

body.nightmode-on .settings-buttons a:hover,
body.nightmode-on #name,
body.nightmode-on .buttons a:hover,
body.nightmode-on .menu-buttons a:hover {
  background-color: #ffc0a5;
  color: #210645;
}

@media (max-width: 760px) {
  .hp {
    font-size: 20px;
  }
  .buttons a, .menu-buttons a, .settings-buttons a {
    font-size: 30px;
  }
  #name {
    font-size: 20px;
  }
  #t-body {
    font-size: 50px;
  }
}

@media (max-width: 540px) {
  .hp p {
    font-size: 20px;
    display: block;
  }
  .buttons a, .menu-buttons a, .settings-buttons a {
    font-size: 20px;
    margin: 20px 5px 0px 5px;
  }
  #name {
    font-size: 20px;
  }
  #t-body {
    font-size: 40px;
  }
    .tamagotchi {
      top: 120px;
      transform: translateY(0);
    }
}
